<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title NODE_PROJ-#{pageTitle}
        link(rel="stylesheet" href="/css/main.css")
        block styles
    body
        header.main-header
            nav.main-header_nav
                ul.main-header_item-list
                li.main-header_item
                    a(href="/", class=(path === "/" ? 'active' : '')) Shop
                li.main-header_item
                    a(href="/admin/add_prod", class=(path === "/admin/add_prod" ? 'active' : '')) Add Product

        block content